<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyout.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.hyout.pojo.Order">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="merchant_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="merchant_order_no" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="order_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="pay_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="order_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_id, merchant_order_no, order_amount, pay_type, order_status, order_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hyout_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hyout_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hyout.pojo.Order">
    insert into hyout_order (id, merchant_id, merchant_order_no, 
      order_amount, pay_type, order_status, 
      order_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{merchantOrderNo,jdbcType=CHAR}, 
      #{orderAmount,jdbcType=DECIMAL}, #{payType,jdbcType=CHAR}, #{orderStatus,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.hyout.pojo.Order">
    insert into hyout_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="merchantOrderNo != null">
        merchant_order_no,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantOrderNo != null">
        #{merchantOrderNo,jdbcType=CHAR},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyout.pojo.Order">
    update hyout_order
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantOrderNo != null">
        merchant_order_no = #{merchantOrderNo,jdbcType=CHAR},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyout.pojo.Order">
    update hyout_order
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      merchant_order_no = #{merchantOrderNo,jdbcType=CHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=CHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByMerchantOrderNo" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List">
    </include>
    FROM  hyout_order
    where merchant_order_no = #{merchantOrderNo}
  </select>

</mapper>