.div_y {margin:0 auto;width:510px;text-align:left; }

.label_w{display:inline-block;width:250px;
    background-color: #59784E; }
/*#59784E*/
.textarea_bg{ background-color: #59784E}

body{ margin: 50px; background-color: #59784E; text-align: center }